
header {
    @include flex(row,space-around,center,.3125rem,100%,100%);    
}


.navbar {
    background-color: map-get($colores, color1); 
    width: 100%;
    height: 100px;

}

.offcanvas-header {
    background-color: map-get($colores, color1);
}

.offcanvas-body {
    background-color: map-get($colores, color1); 
}

.login-button{
    background-color: map-get($colores, color3);
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s backgroud-color;
}

.login-button:hover {
    color: white;
    background-color: rgb(85, 34, 34);
}

.navbar-toggler {
    border: none;
    font-size: 20px;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: map-get($colores, color3);
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #666777;
}

@media (min-width: 768px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color:map-get($colores, color3);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    } 
}