.eventos {
    width: 100%;
    height: 300px;
    background-image: url(../assets/eventos-01.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}

.eventos h1{
    @include flex(row,space-around,center,1.875rem,40%,100%);
}


.container-eventos{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,1fr);
}

.container-eventos h1{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}

.container-eventos h2{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.container-eventos img{ 
    width: 50%;
    height: 100%;
    grid-column-start:2;
    grid-column-end:6;
    grid-row-start: 2;
    grid-row-end: 6;
    border: 1px solid white;
}

.container-eventos p{ 
grid-column: 4 / 6;
grid-row: 3 / 6;
background-color: map-get($colores, color2); 
}

.container-malbec{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,1fr);
}

.container-malbec h2{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
}

.container-malbec img{ 
    width: 50%;
    height: 80%;
    grid-column-start:6;
    grid-column-end:9;
    grid-row-start: 2;
    grid-row-end: 7;
}

.container-malbec p{ 
grid-column: 2 / 6;
grid-row: 2 / 6;
background-color: map-get($colores, color2); 
}