.nosotros {
    @include flex(column,space-around,center,1.25rem,100%,100%);
}

.encabezado-nosotros {
    width: 100%;
    height: 450px;
    background-image: url(../assets/paisaje_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}

.encabezado-nosotros h1{
    @include flex(row,space-around,center,1.875rem,40%,100%);
}

.info-nosotros{
    width: 60%;
    height: 50%;
    align-items: center
}
.info-nosotros p{
    background-color: map-get($colores, color2 );
    padding: 15px;
}


