@media (max-width:320px){

    .index-img {
        width: 100%;
        height: 70%;
    }

    .index-info {
        width: 100%;
        height: 100%;
        padding: 0px;
    }

    .index-info p {
        width: 100%;
        height: 100%;
        padding: 0px;
    }

    .nosotros-img{
        width: 100%;
        height: 70%;
        overflow: hidden;
    }

    .container-fluid img {
        width: 70%;
        height: 70%;
    }

    .text-center img {
        width: 70%;
    }

    .catalogo{
        margin-top: 100px;
    }

    .login-button {
        display: none;
    }

    h4{
        font-size: small;
    }
    
    .card-contenedor{
        @include flex(column,center,center,1.875rem,100%,100%);
    }

    .card{
        height: 50%;
    }

    .combo-contendor {
        flex-direction: column;
        margin: 0;
    }

    .combo-01 {
        width: 100%;
        height: 30%;
        margin-bottom: 10px;
    }

    .combo-contendor p {
        display: none;
    }

    .encabezado {
    height: 100px;
    }

    .contacto-container{
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }

    .mapa{
        width: 100%;
        height: 50%;
    }

    .formulario{
        width: 100%;
        margin-left: 0px;
        margin-bottom: 5px;
    }


    .encabezado-nosotros {
        width: 100%;
        height: 200px;
    }

    .info-nosotros{
        width: 100%;
        height: 80%;
        align-items: center
    }

}