@media (max-width:768px) {

    .main-index {
        margin-top: 80px;
    }

    .index-img {
        width: 90%;
        height: 70%;
    }

    .index-info {
        width: 90%;
        height: 30%;
    }

    .nosotros-img {
        width: 90%;
        height: 70%;
        overflow: hidden;
    }

    .nosotros-img img {
        width: 100%;
        height: 100%;
    }

    .container-fluid img {
        width: 80%;
        height: 80%;
    }

    .combo-contendor {
        flex-direction: column;
        margin-left: 0;
    }

    .combo-01 {
        width: 90%;
        height: 50%;
    }

    .combo-02 {
        width: 90%;
        height: 50%;
    }

    .tracking-in-contract-bck {
        height: 150px;
    }

    .encabezado {
        height: 150px;
    }

    .encabezado-catalogo {
        height: 150px;
    }

    .eventos {
        width: 100%;
        height: 150px;
    }

    .mapa {
        width: 400px;
        height: 300px;
    }

    .formulario {
        width: 70%;
        height: 80%;
        margin-left: 10px;
    }

    .encabezado-nosotros {
        width: 100%;
        height: 150px;
    }

    .nosotros {
        width: 100%;
        height: 100%;
    }

    .info-nosotros {
        width: 90%;
        height: 70%;
        align-items: center
    }

    .info-nosotros p {
        width: 100%;
        height: 100%;
        padding: 2;
    }

    .contacto-container {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }

    .mapa {
        width: 90%;
        height: 50%;
    }

    .formulario {
        width: 90%;
        margin-left: 0px;
        margin-bottom: 5px;
    }

    .container-eventos {
        @include flex(column, space-around, top, 1.875rem, 100%, 100%);
    }

    .card-regina {
        width: 100%;
    }

    .card-malbec {
        width: 100%;
    }

    .card-navarro {
        width: 100%;
    }

}

@media (max-width:410px) {

    header .text-center {
        display: none;
    }
}